In [3]:
import pandas as pd # dataframes (tables and data management manipulation in python)
import numpy as np # math library
import tensorflow as tf # neural network
from sklearn.model_selection import train_test_split # split training and testing method
from sklearn.preprocessing import StandardScaler   # to split data into x and y x is numerical and y is target value???? # Scale values for network compatibility
import os # for system calls
import seaborn as sns # visualisation
from matplotlib import pyplot as plt # plotting
import io, re, shutil, string

In [ ]:
# lending_df = pd.read_csv('databases/mock_portfolios copy/')
# lending_df

,issue_d,sub_grade,term,home_ownership,fico_range_low,total_acc,pub_rec,revol_util,annual_inc,int_rate,...,pub_rec_bankruptcies,addr_state,initial_list_status,fico_range_high,revol_bal,id,open_acc,emp_length,loan_status,time_to_earliest_cr_line
0,2014-01-01,D1,60 months,MORTGAGE,660.0,18.0,0.0,86.8,40440.0,16.99,...,0.0,AR,f,664.0,17264.0,11024793,11.0,2.0,1,478656.0
1,2014-01-01,C4,60 months,MORTGAGE,740.0,26.0,0.0,103.5,59000.0,15.61,...,0.0,VT,f,744.0,6725.0,10596078,8.0,3.0,1,541728.0
2,2014-01-01,A4,36 months,RENT,700.0,47.0,0.0,11.4,40000.0,7.90,...,0.0,TX,w,704.0,7613.0,10775616,27.0,1.0,1,657590.4
3,2014-01-01,D1,60 months,MORTGAGE,665.0,26.0,0.0,56.2,70000.0,16.99,...,0.0,IN,f,669.0,14173.0,10765610,9.0,11.0,1,328838.4
4,2014-01-01,C3,36 months,MORTGAGE,700.0,15.0,1.0,67.1,120000.0,14.98,...,0.0,LA,f,704.0,2549.0,10794837,8.0,2.0,1,305164.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236841,2015-12-01,C2,36 months,RENT,675.0,33.0,0.0,93.3,85000.0,12.59,...,0.0,FL,w,679.0,23969.0,67476992,27.0,0.0,0,276220.8
236842,2015-08-01,D2,36 months,MORTGAGE,665.0,15.0,0.0,17.8,72000.0,16.55,...,0.0,NJ,f,669.0,7918.0,56130981,8.0,11.0,0,533779.2
236843,2016-02-01,B1,36 months,MORTGAGE,710.0,19.0,0.0,61.2,72000.0,8.39,...,0.0,FL,w,714.0,16029.0,71502396,10.0,11.0,0,376185.6
236844,2016-06-01,C3,60 months,RENT,675.0,23.0,1.0,40.1,67000.0,13.99,...,1.0,MN,f,679.0,8422.0,83875883,10.0,11.0,1,867801.6
236845,2015-05-01,E5,60 months,RENT,665.0,23.0,0.0,50.4,50000.0,20.99,...,0.0,CA,f,669.0,7314.0,49197629,12.0,3.0,1,286588.8